/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2021, 7:49:52 PM
    Author     : User
*/

body{
    background-color:cornsilk;
}
h1{
    color: mediumblue;
}
p{
    color: seagreen;
    font-size:120%;
}
li{
    color: blueviolet;
}
table, th, td {
    border: 1px solid black;
    color: purple;
}